.add-new {
    padding: 20px;
    padding-top: 1px;
    max-width: 500px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

img {
    padding-top: 20px;
}

.user-card {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    max-width: 500px;
}
